<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="TZ-7 Web Scraper Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="WEB_DRIVER_WIDTH" value="1280"/>
        <env name="WEB_DRIVER_HEIGHT" value="735"/>
        <env name="WEB_DRIVER_HOST" value="127.0.0.1:8910"/>
        <env name="WEB_DRIVER_BROWSER" value="phantomjs"/>
        <env name="WEB_DRIVER_USER_AGENT" value="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36"/>
        <env name="WEB_DRIVER_TIMEOUT" value="5000"/>
    </php>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
